
#root, body, html{
  background: #1E2224;
}
#root {
  min-height: 100vh;
  background-color: #1E2224;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@keyframes idlePulse {
  0% { transform: scale(1); opacity: 0.3; }
  50% { transform: scale(1.08); opacity: 0.5; }
  100% { transform: scale(1); opacity: 0.3; }
}

$dotWrapperSize: 5rem;
$dotSize: 1rem;

.dot-timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $dotWrapperSize;
  height: $dotWrapperSize;
}
.dot-row {
  display: flex;
  justify-content: space-between;
}


.dot-empty {
  width: $dotSize;
  height: $dotSize;
}

/* 실제 점 */
.dot {
  width: $dotSize;
  height: $dotSize;
  border-radius: 50%;
  background: rgba(241, 245, 249, 0.6);
  transition: 0.35s ease-out, transform 0.35s ease-out;
  &--alive{
    opacity: 1;
    transform: scale(1);
  }
  &--dead{
    //opacity: 0;
    //transform: scale(0.6);
    opacity: .5;
    transform: scale(1);
    background: transparent;
    border: 1px solid #f1f5f9;
  }
}
